{% extends "base.html" %}
{% block content %}


    {{markupres['description']}}
    <hr>
    {% set table=mrk.gethtml(markupres['description']) %}
    {{table|safe}}
    <hr>
    <div id="expected-output">
        <h2>Expected output</h2>
        <table class="table table-bordered" style='width:100%;' >
            <thead>
                <tr>
                    <th colspan="2"> </th>
                    <th style="width:10.506%;"> </th>
                    <th style="width:19.4879%;"> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2" style="width:9.9938%;">Vertically split</td>
                    <td rowspan="2" style="width:10.506%;"></td>
                    <td style="width:19.4879%">Horizontal split</td>
                    <td rowspan="2" style="width:20%;background-color:rgb(97, 189, 109);">cell color: Green</td>
                    <td rowspan="2"style="width:20%;background-color:rgb(204, 204, 204);">cell color: Gray</td>
                    <td rowspan="2"style="width:20%;">cell color: no color</td>
                </tr>
                <tr>
                    <td style="width:19.4879%;"></td>
                </tr>
                <tr>
                    <td colspan="2" style="width:20.463%;background-color:rgb(163, 143, 132);text-align:left;">cell color: Brown</td>
                    <td style="width:19.4878%;background-color:rgb(61, 142, 185);vertical-align:middle;text-align:center;">cell color: Blue <br> text allign:Middle</td>
                    <td style="width:20%;vertical-align:bottom;text-align:center;">cell color: no color
                        <p style="background-color:rgb(204, 204, 204);">Text Background Gray</p>
                        <p style="color:rgb(209, 72, 65);">Text color red</p>
                        </td>
                    <td style="width:20%;"> <tt>preformat</tt> </td>
                    <td style="width:20%;"><q>Bookqoute</q></td>
                </tr>
                <tr>
                    <td colspan="2" style="width:20.463%">
                    <ul>
                        <li>Unordered List</li>
                        <ul>
                            <li>Nested unordered List</li>
                        </ul>
                    </ul></td>
                    <td>
                        <ol>
                            <li> Ordered List
                               <ol>
                                    <li>
                                        Nested Ordered List
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </td>
                    <td style="width:20%;"></td>
                    <td style="width:20%;"></td>
                    <td style="width:20%;"></td>
                    
                </tr>
                <tr>
                    <td colspan="2" style="width:20.463%;"></td>
                    <td style="width:19.4878%;"></td>
                    <td style="width:20.0000%;"></td>
                    <td style="width:20.0000%;"></td>
                    <td style="width:20.0000%;"></td>

                </tr>
            </tbody>

        </table>

    </div>
    <h2>Test</h2>
    <table table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="2"></td>
                <td rowspan="2 "></td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td ></td>
                <td></td>
                <td ></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
