{% extends "base.html" %}
{% block content %}
<div class="row">
{%for i in range(0,project|length)%}
  <div class="col-sm-6">
    <button type="button" class="btn btn-outline-secondary btn-block"
            style="margin: 1px; border-color:transparent;">{{project[i]['name']}}</button>
  </div>
{%endfor%}
</div>
{% endblock %}
