{% extends "base.html" %}
{% block content %}

<nav>
  <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
    {%for i in range (0,tracker|length)%}

    {%if tracker[i]['keyName']=="TASK" or tracker[i]['keyName']=="BUG" or tracker[i]['keyName']=="US" or tracker[i]['keyName']=="CRQ"%}
      <a class="nav-item nav-link" id="nav-{{tracker[i]['keyName']}}-tab" data-toggle="tab" href="#nav-{{tracker[i]['keyName']}}" role="tab" aria-controls="nav-{{tracker[i]['keyName']}}" aria-selected="True">{{tracker[i]['name']}}</a>
    {%endif%}

    {%endfor%}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-TASK" role="tabpanel" aria-labelledby="nav-TASK-tab">
    <table class="table table-striped">
      <tr>
        <th>Task ID</th>
        <th>Task title</th>
        <th>Staus</th>
        <th>Priority</th>
        <th>Submitted by</th>
        <th>Assigned to</th>
      </tr>
      <tbody>
      {%for i in range(0,task_item['items']|length)%}
      <tr>
        <td>{{task_item['items'][i]['uri'].split('/')[2]}}</td>
        <td>{{task_item['items'][i]['name']}}</td>
        <td>{{task_item['items'][i]['status']['name']}}</td>
        {% if task_item['items'][i].has_key('priority')%}
          <td>{{task_item['items'][i]['priority']['name']}}</td>
        {% else %}
          <td><p>-</p></td>
        {%endif%}
        <td>{{task_item['items'][i]['submitter']['name']}}</td>
        {% if task_item['items'][i].has_key('assignedTo')%}
          <td>{{task_item['items'][i]['assignedTo'][0]['name']}}</td>
        {% else %}
        <td><p>-</p></td>
        {%endif%}
      </tr>
      {%endfor%}

      </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="nav-BUG" role="tabpanel">
    <table class="table table-striped" data-toggle="table" data-search="true">
      <tr>
        <th>Task ID</th>
        <th>Task title</th>
        <th>Staus</th>
        <th>Priority</th>
        <th>Submitted by</th>
        <th>Assigned to</th>
      </tr>
      <tbody>
        <!-- TODO -->
        {%for i in range(0,bug_item['items']|length)%}
        <tr>
          <td>{{bug_item['items'][i]['uri'].split('/')[2]}}</td>
          <td>{{bug_item['items'][i]['name']}}</td>
          <td>{{bug_item['items'][i]['status']['name']}}</td>
          {% if bug_item['items'][i].has_key('priority')%}
            <td>{{bug_item['items'][i]['priority']['name']}}</td>
          {% else %}
            <td><p>-</p></td>
          {%endif%}
          <td>{{bug_item['items'][i]['submitter']['name']}}</td>
          {% if bug_item['items'][i].has_key('assignedTo')%}
            <td>{{bug_item['items'][i]['assignedTo'][0]['name']}}</td>
          {% else %}
          <td><p>-</p></td>
          {%endif%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-US" role="tabpanel">
    <p>This is User story </p>
  </div>
  <div class="tab-pane fade" id="nav-CRQ" role="tabpanel">
    <p>This is Change request </p>
  </div>
</div>
{% endblock %}
