{% extends "base.html" %}
{% block content %}
{%for page in range(0,wikires|length) recursive %}
    {% if page is number %}
        <h3>{{wikires[page]['name']}}</h3>
        {{wikires[page]['content']|safe}}
        {% if 'children' in wikires[page] %}
            {{ loop (wikires[page]['children']) }}
        {%endif%}
    {% elif page is mapping %}
        <h3>{{page['name']}}</h3>
        {{page['content']|safe}}
        {% if 'children' in page %}
            {{ loop (page['children']) }}
        {%endif%}
    {% endif %}

{%endfor%}
{% endblock %}
